/* common markdown */
.prose {
  @apply text-secondary text-start break-words;
}
.prose strong,
.prose h2,
.prose h3,
.prose h4,
.prose thead th {
  @apply text-primary;
}

.dark .prose h2,
.dark .prose h3,
.prose h2,
.prose h3 {
  @apply bg-gradient-to-br from-blue-600 to-blue-400 bg-clip-text text-transparent;
}

.prose h2 {
  @apply drop-shadow;
}

.prose del {
  @apply text-mute;
}

.prose p {
  @apply leading-7 sm:leading-8 text-left;
}

.prose img {
  @apply my-0 mx-auto;
}
.prose img + span {
  display: block;
  margin-top: 0.5rem;
}

.prose a {
  @apply text-primary break-words transition-all;
  @apply decoration-blue-300 underline-offset-2 hover:decoration-blue-200;
}
.prose a:has(strong) {
  @apply decoration-blue-300 decoration-wavy underline-offset-1 hover:decoration-blue-400;
  @apply dark:decoration-blue-300/70 dark:hover:decoration-blue-300/90;
}

.prose code {
  font-family: var(--font-mono), Consolas, Monaco, "Andale Mono", monospace;
}

.prose code:not(:where(pre *)) {
  @apply text-primary rounded-lg px-1.5 py-0.5 mx-0.5 content-none;
  @apply bg-blue-500 text-white;
}

.prose pre::-webkit-scrollbar {
  @apply w-3 h-3 bg-transparent;
}
.prose pre::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-tr from-blue-500 to-blue-300 rounded-full;
}
.prose pre {
  @apply w-full;
}

.prose .rehype-code-title {
  @apply w-fit bg-[#2b2b2b] text-white rounded-t-md border-b-2 border-blue-400 px-5 py-2 text-sm font-bold;
}

/* prose first child, not <TocTop /> */
.prose > :first-child {
  margin-top: 3rem !important;
}
.prose > .lg\:hidden + * {
  @apply lg:mt-12;
}

/* rehype-autolink-headings */
.prose .anchor {
  @apply absolute -ml-10 mt-1 flex h-6 w-6 items-center justify-center opacity-0 transition-all;
  @apply rounded-md border-none no-underline ring-1 ring-neutral-700/10;
  @apply hover:shadow hover:ring-neutral-700/30 dark:bg-neutral-700 dark:text-neutral-400;
}

.prose .anchor:after {
  content: " ";
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='currentColor' strokeWidth='1.5' strokeLinecap='round' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;

  @apply h-4 w-4 bg-neutral-700 dark:bg-neutral-400;
}

.prose .anchor:hover,
.prose *:hover > .anchor {
  @apply md:opacity-100;
}

.prose hr {
  @apply w-3/4 mx-auto h-[3px] bg-blue-600 bg-opacity-50 rounded-full;
}

.prose ul {
  @apply w-full;
}

/* 자체 디자인 박스
 - <warning></warning>
 - <notice></notice>
 - <tip></tip>
*/
.prose warning,
.prose notice,
.prose tip {
  @apply block w-full border-l-4 p-4 my-5 rounded-md shadow-md;
}
.prose warning {
  @apply border-red-500 bg-red-500 bg-opacity-30;
}
.prose notice {
  @apply border-amber-500 bg-amber-500 bg-opacity-30;
}
.prose tip {
  @apply border-teal-500 bg-teal-500 bg-opacity-30;
}
.prose warning > p,
.prose notice > p,
.prose tip > p {
  @apply m-0;
}

.prose warning::before,
.prose notice::before,
.prose tip::before {
  @apply block w-7;
}
.prose warning::before {
  content: url("../../public/svgs/svg_warning.svg");
  filter: invert(32%) sepia(90%) saturate(3620%) hue-rotate(343deg)
    brightness(118%) contrast(87%);
}
.prose notice::before {
  content: url("../../public/svgs/svg_notice.svg");
  filter: invert(68%) sepia(47%) saturate(2305%) hue-rotate(355deg)
    brightness(97%) contrast(97%);
}
.prose tip::before {
  @apply w-6;
  content: url("../../public/svgs/svg_tip.svg");
  filter: invert(59%) sepia(58%) saturate(3049%) hue-rotate(133deg)
    brightness(96%) contrast(84%);
}

/* katex math */
.prose div.math-display {
  @apply w-full overflow-y-auto;
}
.prose div.math-display::-webkit-scrollbar {
  @apply w-3 h-3 bg-transparent;
}
.prose div.math-display::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-tr from-blue-500 to-blue-300 rounded-full;
}
